<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Estudiante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <h3> Nuevo Estudiante</h3>
    <div class="container  ">
    <form action="{{request.path}}" method="POST">

        <label for="nombre">Nombre</label><input class="form-control" type="text" name="nombre"/>
        <label for="codigo">Codigo</label><input class="form-control" type="text" name="codigo"/>
        <label for="email">Email</label><input class="form-control"  type="text" name="email"/>
        <input type="submit" value="Agregar" class="btn btn-primary" > 
    </div>
    </form>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</body>
</html>